<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>最喜欢的</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>最喜欢的茶</string>
			<key>Key</key>
			<string>favoritaTea</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>最喜欢的船长</string>
			<key>Key</key>
			<string>favoriteCaptain</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>最喜欢的小玩意</string>
			<key>Key</key>
			<string>favoriteGadget</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>最喜欢的外星人</string>
			<key>Key</key>
			<string>favoriteAlien</string>
			<key>DefaultValue</key>
			<string>赵如阳</string>
			<key>Titles</key>
			<array>
				<string>赵如阳</string>
				<string>爱成双</string>
				<string>马萌萌</string>
				<string>马云</string>
				<string>宋祖英</string>
				<string>xdd</string>
			</array>
			<key>Values</key>
			<array>
				<string>dddd</string>
				<string>ddc</string>
				<string>dd</string>
				<string>v</string>
				<string>g</string>
				<string>h</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
